
ul {
  list-style-type: none;
  margin: 20px;
  padding-top: 15px;
  padding-left: 40px;
  overflow: hidden;
  background-color: transparent ;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(22, 16, 16);
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}



